.body-site{
    background-image: url('../../img/site/cinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--terciary);
}
.body-site{background-color: var(--body-site);}

/* Responsivo */
@media screen and (max-width: 520px) {
    .password-mobile{
        margin-top: 1em;
    }
}
