.body-admin{
    background-image: url('../../img/site/cinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--terciary);
}
.body-admin {background-color: var(--secondary);}

#sidebar {
    transition: width 0.5s ease;
}

#sidebar.hidden {
    width: 0;
}

.session-on, .session-off {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.session-on {background-color: green;}
.session-off {background-color: red;}

/* Responsivo */
@media screen and (max-width: 992px){
    #sidebar{
        position: absolute;
    }
}
