#sidebar {
    transition: width 0.5s ease;
}

#sidebar.hidden {
    width: 0;
}

.session-on, .session-off {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.session-on {background-color: green;}
.session-off {background-color: red;}

/* Responsivo */
@media screen and (max-width: 992px){
    #sidebar{
        position: absolute;
        /* width: 0;
        display: none; */
    }
}
